.projects {
  position: relative;
  background: none;
  /* border: 1px solid red; */
  color: whitesmoke;
  padding-top: 90px;
  padding-bottom: 50px;
}

.projects__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  z-index: -1;
}

.projects__backgroundVideo {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
}

.projects__button {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 20px;
  /* border: 1px solid red; */
}

.projects__link {
  display: flex;
  padding: 10px 6px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

/* MuiSvgIcon-root */
.projects__link > .MuiSvgIcon-root {
  padding-bottom: 4px;
}

.projects__link:hover {
  color: white;
  background-color: black;
}
