.project__content {
  padding: 1rem;
  border-top: 1px solid #e6e6e6;
}

.project__content__top > p {
  padding: 1rem;
}

.project__content__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.project__content__bottom__each {
  cursor: pointer;
  padding: 1rem;
  margin: 4px;
  text-decoration: none;
  border: 1px solid #e6e6e6;
  transition: 0.2s;
  border-radius: 4px;
}

.project__content__bottom__each > a {
  text-decoration: none;
  color: black;
}

/* .project__content__bottom__each > .MuiSvgIcon-root {
  text-color: red !important;
  padding-bottom: 1px;
} */

.project__content__bottom__each:hover {
  transform: scale(1.08);
  background-color: #453c53;
  /* background-color: #26212e; */
}

.project__content__bottom__each:hover > a {
  color: white;
}

.projects {
  position: relative;
  background: none;
  color: whitesmoke;
  padding-top: 100px;
  padding-bottom: 70px;
}

.projects > h3 {
  margin: 0 auto;
  padding-right: 50px;
}

.projects__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  z-index: -1;
}

.projects__backgroundVideo {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
  padding-top: -20px;
}

.projects__button {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 20px;
  /* border: 1px solid red; */
}

.projects__link {
  display: flex;
  padding: 10px 6px;
  margin-right: 8px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

/* MuiSvgIcon-root */
.projects__link > .MuiSvgIcon-root {
  padding-bottom: 4px;
}

.projects__link:hover {
  color: white;
  background-color: black;
}

@media screen and (max-width: 768px) {
  .project__content__top > h2 {
    font-size: 14px;
  }

  .project__content__top > p {
    font-size: 10px;
  }

  .project__content__bottom__each {
    padding: 0.5rem;
    font-size: 10px;
  }

  .projects > h3 {
    margin: 0 auto;
    font-size: 12px;
    padding-left: 18px;
  }

  .projects__link {
    font-size: 12px;
    padding: 6px 6px;
    margin-left: 2px;
  }

  .projects__link > .MuiSvgIcon-root {
    font-size: 20px;
    margin-right: -6px;
  }
}
