.projects {
  position: relative;
  background: none;
  color: whitesmoke;
  margin-bottom: 200px;
}

.projects__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  z-index: -1;
}

.projects__backgroundVideo {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
}

.projects > h3 {
  margin-top: 85px;
  margin-bottom: 30px;
}

.projects__link {
  margin-top: 20px;
  padding: 10px 6px;
  text-decoration: none;
  /* background-color: black; */
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.projects__button {
  display: flex;
}
.projects__link:hover {
  color: white;
  background-color: black;
}
