.card {
  width: 280px;
  height: 400px;
  position: relative;

  background: linear-gradient(#ccc 0 0) padding-box,
    /*this is your grey background*/ linear-gradient(to right, #9c20aa, #fb3570)
      border-box;

  /* text color */
  color: #313149;
  border: 4px solid transparent;
  border-radius: 20px;
  display: inline-block;
  margin: 8px 10px;

  /* border-radius: 14px;
  border: solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(60deg, #b16ec4 #5f97b9); */
}

.card__imgcontainer {
  overflow: hidden;
  border-radius: 14px 14px 0 0;
}

.card__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  display: block;
}

.card__image:hover {
  transform: scale(1.1);
}

.card__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card__text > h3 {
  padding-top: 10px;
  width: 100%;
  white-space: normal;
}

.card__text > p {
  padding-top: 10px;
  white-space: normal;
}

.card__links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 4px;
  margin: 0 auto;
}

.card__links > a {
  text-decoration: none;
}

.card__demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: gray;
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card__demo > p {
  display: none;
  padding-right: 6px;
  transition: display 2s ease-in-out;
}
.card__demo:hover {
  border-radius: 12px;
}
.card__demo:hover > p {
  display: inline-block;
}

.card__icon {
  height: 32px;
  width: 32px;
}

.card__icon__small {
  display: none;
}

@media screen and (max-width: 768px) {
  .card {
    width: 120px;
    height: 180px;
    border: 2px solid transparent;
    border-radius: 16px;
    margin: 4px;
  }

  .card__image {
    width: 100%;
    height: 100px;
  }

  .card__text > h3 {
    font-size: 10px;
  }

  .card__text > p {
    display: none;
  }

  .card__demo {
    padding: 4px;
  }

  .card__demo:hover > p {
    display: none;
  }

  .card__demo:hover {
    border-radius: 100%;
  }

  .card__icon {
    height: 16px;
    width: 16px;
  }
}
