.contact__wrapper {
  background-color: #26212e;
  padding: 2rem 0;
}

.contact {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  justify-content: center;
}

.contact__header {
  padding: 1rem 0;
}

.contact__header > h4 {
  color: whitesmoke;
}

.contact__image {
  object-fit: contain;
}

.contact__image__stackoverflow {
  width: 100%;
  object-fit: contain;
  /* height: 58px; */
}

@media screen and (max-width: 768px) {
  .contact__header > h4 {
    font-size: 10px;
  }

  .contact__image {
    width: 100%;
    object-fit: contain;
  }

  .contact__image__stackoverflow {
    width: 100%;
    /* height: 48px; */
  }
}
