.contact__wrapper {
  background-color: #26212e;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact__header {
  padding: 1rem 0;
}

.contact__header > h4 {
  color: whitesmoke;
}

.contact__left {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  /* padding-left: 10px; */
}

/* .contact__right {
  padding-right: 10px;
}

.contact__right > img {
  object-fit: contain;
  width: 240px;
} */
