.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  /* background-color: #26212e; */
  color: whitesmoke;
  padding: 10px;
  z-index: 999;
  opacity: 0;

  /* transition-timing-function: ease-in; */
  transition: all 0.5s ease-in;
}

.header__bg {
  /* background-color: #04294e; */
  /* background-color: #07529c; */
  background-color: #26212e;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 25px 20px -20px;
  opacity: 1;
}

.header__left {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  justify-content: center;
}

.header__center {
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  /* width: 100%; */
}

/* .nav__button__left {
  font-size: 12px;
  padding: 10px 10px;
  margin: 0 5px;
  font-weight: 500;
  cursor: pointer;
  color: whitesmoke;
  transition: 0.5s;
  opacity: 0.7;

  border-radius: 5px;
} */

.nav__button {
  font-size: 14px;
  padding: 10px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.8;

  /* border-radius: 5px; */
}

.nav__button:hover {
  /* border-bottom: 2px solid whitesmoke; */
  opacity: 1;
  color: white;
}

@media screen and (max-width: 768px) {
  .header__left {
    display: none;
  }

  .header__center {
    display: none;
  }

  .header__right {
    /* margin: 0 auto; */
  }

  .nav__button {
    font-size: 12px;
  }
}
