.header {
  position: fixed;
  width: 100%;
  max-width: 1100px;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #26212e;
  color: whitesmoke;
  padding: 10px;
  z-index: 999;
  /* border: 1px solid green; */

  /* box-shadow: 0px 4px #141118; */

  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
  /* box-shadow: rgba(0, 0, 0, 0.75) 20px 25px 20px -16px; */
  box-shadow: rgba(0, 0, 0, 0.65) 0px 25px 20px -20px;
}

.header__left {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.header__right {
  padding-right: 1rem;
  display: flex;
}

/* .nav__button__left {
  font-size: 12px;
  padding: 10px 10px;
  margin: 0 5px;
  font-weight: 500;
  cursor: pointer;
  color: whitesmoke;
  transition: 0.5s;
  opacity: 0.7;

  border-radius: 5px;
} */

.nav__button {
  font-size: 14px;
  padding: 10px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.8;

  /* border-radius: 5px; */
}

.nav__button:hover {
  /* border-bottom: 2px solid whitesmoke; */
  opacity: 1;
  color: white;
}

@media screen and (max-width: 768px) {
  .header__left {
    display: none;
  }

  .header__right {
    margin: 0 auto;
  }

  .nav__button {
    font-size: 12px;
  }
}
