.header {
  position: fixed;
  width: 100%;
  max-width: 1100px;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #26212e;
  color: white;
  padding: 10px;
  z-index: 999;
  border: 1px solid green;
}

.header__left {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border: 1px solid green;
}

.header__right {
  padding-right: 1rem;
  border: 1px solid green;
}
.nav__button {
  padding: 10px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}
