.header {
  position: sticky;
  top: 0;
  /* left: 0; */
  /* right: 0; */
  display: flex;
  justify-content: space-between;
  background-color: #26212e;
  color: white;
  padding: 10px;
  z-index: 999;
}

.header__left {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header__center {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav__button {
  padding: 10px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}
