.header {
  position: fixed;
  width: 100%;
  max-width: 1100px;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #26212e;
  color: whitesmoke;
  padding: 10px;
  z-index: 999;
  /* border: 1px solid green; */
}

.header__left {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  /* border: 1px solid green; */
}

.header__right {
  padding-right: 1rem;
  display: flex;

  /* border: 1px solid green; */
}

/* @media screen and (max-width: 768px) {
  .header__right {
    visibility: hidden;
  }
} */

.nav__button__left {
  padding: 10px 10px;
  margin: 0 5px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  /* transition: 0.5s;
  opacity: 0.7; */

  /* border-radius: 5px; */
}

.nav__button {
  padding: 10px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.8;

  /* border-radius: 5px; */
}

.nav__button:hover {
  /* border-bottom: 2px solid whitesmoke; */
  opacity: 1;
  color: white;
}
