.wrapper {
  width: 100%;
  /* min-width: 560px; */
  height: 760px;
  background: #26212e;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  /* color: black;
  width: 152px;
  height: 146px; */
  will-change: width, height;

  /* additional */
  /* position: relative; */
}

.item {
  width: 152px;
  height: 146px;
  border-radius: 5px;
  will-change: transform, opacity;
  margin: auto;
}

.item > h4 {
  /* position: relative; */
  /* margin: auto; */
  color: #141414;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 25%;
  /* text-align: center; */
}

.skills__cover__h3 {
  color: "#26212e";
}

.skills__cover__h3 > span {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .item {
    width: 100%;
    height: 60%;
  }

  .item > h4 {
    font-size: 10px;
  }

  .skills__cover__h3 {
    font-size: 12px;
  }

  .skills__cover__h3 > span {
    font-size: 10px;
  }
}
