.textual__content {
  padding: 2rem 2rem;
  text-align: left;
  z-index: 10;
  /* position: relative; */
}

.textual__content__top {
  display: flex;
  justify-content: space-around;
}

.textual__content__video {
  /* width: 50%; */
  object-fit: contain;
}

.textual__content__top__left {
  position: relative;
}

.video__text {
  position: absolute;
  right: -140px;
  bottom: -20px;
}

.video__arrow {
  width: 64px;
  height: 64px;
  margin-left: -12px;
  transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
  .textual__content__top__left > h2 {
    font-size: 14px;
  }

  .video__text {
    margin-top: 0.5rem;
    margin-right: -1rem;
  }

  .textual__content__top__left > p {
    font-size: 10px;
  }

  .textual__content__video {
    width: 100%;
    min-width: 160px;
    object-fit: contain;
  }

  .textual__content > p {
    font-size: 10px;
  }

  .video__text {
    right: -100px;
    bottom: -18px;
  }

  .video__arrow {
    width: 42px;
    height: 42px;
    margin-left: -12px;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 480px) {
  .video__text {
    right: -120px;
    bottom: 70px;
  }

  .video__arrow {
    margin-left: -12px;
    margin-bottom: 4px;
    transform: rotate(-10deg);
  }
}
