.experience > h2 {
  padding: 2rem 0 1rem 0;
}

.experience__wrapper__upper {
  display: flex;
}

.experience__wrapper__upper__a {
  /* border: 1px solid red; */
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.experience__wrapper__lower {
  /* border: 1px solid blue; */
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 240px;
}

.experience__wrapper__a {
  /* border: 1px solid red; */
  display: flex;
  padding: 1rem 0;
  margin: 0 auto;
  /* justify-content: space-around; */
}

.experience__wrapper__b {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-around; */
  padding: 1rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  /* border: 1px solid blue; */
}

.experience__wrapper__duration {
  color: gray;
  padding-top: 2px;
  padding-bottom: 1rem;
}

.border {
  border: 1px solid #e6e6e6;
  /* margin: 0 auto; */
}
.experience__wrapper__image {
  padding-top: 1rem;
  height: 340px;
  /* width: 100%; */

  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .experience > h2 {
    font-size: 14px;
  }

  .experience__wrapper__upper__a > h4 {
    font-size: 10px;
  }

  .experience__wrapper__duration {
    font-size: 10px;
  }
  .experience__wrapper__upper__a > p {
    font-size: 10px;
  }

  .experience__wrapper__lower > h4 {
    font-size: 10px;
  }

  .experience__wrapper__lower > p {
    font-size: 10px;
  }

  .experience__wrapper__image {
    height: 200px;
    width: 100%;
    object-fit: contain;
  }
}
