/* .experience {
  padding: 2rem 0;
} */

.experience > h2 {
  padding: 2rem 0;
}

.experience__wrapper__upper {
  display: flex;
}

.experience__wrapper__upper__a {
  /* border: 1px solid red; */
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.experience__wrapper__lower {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 360px;
}

.experience__wrapper__a {
  /* border: 1px solid red; */
  display: flex;
  padding: 1rem 0;
}

.experience__wrapper__b {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  /* border: 1px solid blue; */
}

.experience__wrapper__duration {
  color: gray;
  padding-bottom: 1rem;
}

.experience__wrapper__image > img {
  /* border: 1px solid green; */
  height: 340px;
  object-fit: contain;
}

/* .experience > img {
  width: 100%;
  object-fit: contain;
  padding: 1rem 0;
} */

.border {
  border: 1px solid #e6e6e6;
  /* margin: 0 auto; */
}
