.experience > h2 {
  padding: 3rem 0 0 0;
}

.experience__wrapper__upper {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.experience__wrapper__upper__a {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.experience__wrapper__lower {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 240px;
}

.experience__wrapper__a {
  display: flex;
  padding: 1rem 0;
  margin: 0 auto;
}

.experience__wrapper__b {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0;
}

.experience__wrapper__duration {
  color: gray;
  padding-top: 2px;
  padding-bottom: 1rem;
}

.border {
  border: 1px solid #e6e6e6;
}
.experience__wrapper__image {
  padding-top: 1rem;
  height: 340px;

  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .experience > h2 {
    font-size: 14px;
  }

  .experience__wrapper__upper__a > h4 {
    font-size: 10px;
  }

  .experience__wrapper__duration {
    font-size: 10px;
  }
  .experience__wrapper__upper__a > p {
    font-size: 10px;
  }

  .experience__wrapper__lower > h4 {
    font-size: 10px;
  }

  .experience__wrapper__lower > p {
    font-size: 10px;
  }

  .experience__wrapper__image {
    height: 200px;
    width: 100%;
    object-fit: contain;
  }
}
