.app {
  width: 100%;
  height: 100%;
  text-align: center;
  /* background-color: white; */
  /* border: 1px solid #adadad; */
  box-shadow: 12px 0 15px -4px rgba(38, 33, 46, 0.8),
    -12px 0 8px -4px rgba(38, 33, 46, 0.8);
  /* width: 100px; */
  /* height: 100px; */
  /* margin: 50px; */
  /* background: white; */

  /* background-color: #474747; */
  /* max-width: 1100px; */
  min-width: 420px;
  /* margin: 0 auto; */
}
