.app {
  /* max-width: 1100px;
  min-width: 692px; */
  width: 100vw;
  height: 100vh;
  position: relative;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  z-index: -1;
  /* // ????????????? */
}

/* .background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: -9999;
} */
