.intro {
  /* margin: 10px; */
  padding: 10px;
  color: red;
  /* border: 1px solid red; */
  border-color: black;
  position: relative;
}

.intro__title {
  /* border: 1px solid red; */
  padding: 25%;
  color: whitesmoke;
}

.typed-text-bigscreen {
  display: block;
}

.typed-text-smallscreen {
  display: none;
}

.intro__profilePhoto {
  height: 240px;
  object-fit: contain;
  padding-bottom: 20px;
}

.intro__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  z-index: -1;
}

.intro__backgroundVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
}

@media screen and (max-width: 768px) {
  .intro__title > h1 {
    font-size: 16px;
  }

  .typed-text-bigscreen {
    display: none;
  }

  .typed-text-smallscreen {
    display: block;
  }

  .intro__profilePhoto {
    height: 140px;
  }
}
